<html>
<head>
<link rel="stylesheet" href="/bootstrap.min.css">
<link rel="stylesheet" href="/bootstrap-theme.min.css">
<script type="text/javascript" src="/angular.min.js"></script>
</head>
<body>
<center>
<h1>Login Page</h1>
<table style="background-color:#E6E6FA">
<form action="/login" method="post">
<br/>
<td>
<tr/><b>Username  </b><input type="text" name="username"/><br/><br/><tr/>
<tr><b>Password  </b><input type="password" name="password"/><br/><br/><tr/>
<tr><input type="submit"/><br/><br/><tr/>
<tr><a href='/'>Cancel</a><tr/>
<td/>
</form>
</table>
</center>
</body>
</html>
