<html>
<head>
<link rel="stylesheet" href="/bootstrap.min.css">
<link rel="stylesheet" href="/bootstrap-theme.min.css">
<script type="text/javascript" src="/angular.min.js"></script>
</head>
<body>
<center>
<h1>Register page</h1>
<br/>
<form action="/register" method="post">
<b>Username</b><input type="text" name="username"/><br/><br/>
{{info}}
<br/><br/>
<b>Password</b><input type="password" name="password"/><br/><br/>
<b>Confirm Password</b><input type="password" name="password"/><br/><br/>
<input type="submit"/><br/><br/>
<a href='/'>Cancel</a><br/>
</form>
</center>
</body>
</html>


